<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>backbutton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 62}</string>
			<key>spriteSourceSize</key>
			<string>{62, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1954, 416}, {62, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>backbutton2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 62}</string>
			<key>spriteSourceSize</key>
			<string>{62, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1954, 480}, {62, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>backwater.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 19}, {1024, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1024, 22}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1723}, {1024, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>badbubble-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 3}, {44, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{44, 52}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1888, 1327}, {44, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>badbubble-10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 8}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{48, 48}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1836, 1559}, {48, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>badbubble-11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 8}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{48, 48}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1836, 1509}, {48, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>badbubble-12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 4}, {46, 52}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{46, 52}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2002, 544}, {46, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>badbubble-13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {44, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 52}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{980, 243}, {44, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>badbubble-14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {44, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 52}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1888, 1219}, {44, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>badbubble-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {46, 52}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{46, 52}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1954, 544}, {46, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>badbubble-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {46, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{46, 50}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1981, 651}, {46, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>badbubble-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 7}, {48, 50}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{48, 50}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1783, 651}, {48, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>badbubble-5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 10}, {50, 46}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{50, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1836, 1413}, {50, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>badbubble-6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 10}, {50, 46}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{50, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1836, 1317}, {50, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>badbubble-7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 10}, {50, 46}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{50, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1836, 1365}, {50, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>badbubble-8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 10}, {50, 46}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{50, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1836, 1269}, {50, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>badbubble-9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 10}, {50, 46}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{50, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1836, 1461}, {50, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>block.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {594, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{594, 113}</string>
			<key>spriteSourceSize</key>
			<string>{594, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1247, 1043}, {594, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bubble-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 3}, {44, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{44, 52}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1888, 1273}, {44, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bubble-10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 7}, {48, 50}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{48, 50}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1833, 651}, {48, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bubble-11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {44, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{44, 50}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1886, 1563}, {44, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bubble-12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {46, 52}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{46, 52}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1886, 1509}, {46, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bubble-13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {44, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 52}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1888, 1381}, {44, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bubble-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 3}, {44, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{44, 52}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1888, 1435}, {44, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bubble-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 5}, {46, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{46, 50}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1933, 651}, {46, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bubble-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {48, 50}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{48, 50}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1883, 651}, {48, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bubble-5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 7}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{50, 48}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1836, 1219}, {50, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bubble-6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 10}, {52, 46}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{52, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1983, 961}, {52, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bubble-7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 10}, {52, 46}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{52, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1983, 764}, {52, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bubble-8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 10}, {52, 46}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{52, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1983, 913}, {52, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bubble-9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{48, 48}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1836, 1609}, {48, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>building.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 5}, {894, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{894, 226}</string>
			<key>spriteSourceSize</key>
			<string>{900, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{605, 771}, {894, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cloud-0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {213, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{213, 128}</string>
			<key>spriteSourceSize</key>
			<string>{215, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{605, 577}, {213, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cloud-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 91}</string>
			<key>spriteSourceSize</key>
			<string>{150, 91}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1631, 610}, {150, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cloud-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 60}</string>
			<key>spriteSourceSize</key>
			<string>{100, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{820, 577}, {100, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cloud-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 30}</string>
			<key>spriteSourceSize</key>
			<string>{50, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{954, 653}, {50, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cloud-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{65, 39}</string>
			<key>spriteSourceSize</key>
			<string>{65, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{887, 653}, {65, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>continuebutton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {321, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{321, 59}</string>
			<key>spriteSourceSize</key>
			<string>{325, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1631, 122}, {321, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>continuebutton2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {321, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{321, 59}</string>
			<key>spriteSourceSize</key>
			<string>{325, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1631, 244}, {321, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>credits.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {253, 39}}</string>
			<key>spriteOffset</key>
			<string>{-6, -1}</string>
			<key>spriteSize</key>
			<string>{253, 39}</string>
			<key>spriteSourceSize</key>
			<string>{275, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1768, 831}, {253, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>creditsbutton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {321, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{321, 59}</string>
			<key>spriteSourceSize</key>
			<string>{325, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1631, 549}, {321, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>creditsbutton2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {321, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{321, 59}</string>
			<key>spriteSourceSize</key>
			<string>{325, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1014}, {321, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>duck-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {78, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{78, 72}</string>
			<key>spriteSourceSize</key>
			<string>{82, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{929, 477}, {78, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>duck-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {78, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{78, 74}</string>
			<key>spriteSourceSize</key>
			<string>{82, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{929, 401}, {78, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>duck-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {78, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{78, 72}</string>
			<key>spriteSourceSize</key>
			<string>{82, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1954, 74}, {78, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>duck-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {78, 74}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{78, 74}</string>
			<key>spriteSourceSize</key>
			<string>{82, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{929, 325}, {78, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>duck-5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {78, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{78, 72}</string>
			<key>spriteSourceSize</key>
			<string>{82, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1954, 0}, {78, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>duck-6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {78, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{78, 74}</string>
			<key>spriteSourceSize</key>
			<string>{82, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{928, 694}, {78, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>duck-7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {80, 74}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{80, 74}</string>
			<key>spriteSourceSize</key>
			<string>{82, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{928, 577}, {80, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frontwater.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 15}, {1024, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{1024, 26}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1695}, {1024, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gamecenterbutton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {65, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{65, 65}</string>
			<key>spriteSourceSize</key>
			<string>{67, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1954, 215}, {65, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gamecenterbutton2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {65, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{65, 65}</string>
			<key>spriteSourceSize</key>
			<string>{67, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{820, 639}, {65, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gameover.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {347, 39}}</string>
			<key>spriteOffset</key>
			<string>{-14, -2}</string>
			<key>spriteSize</key>
			<string>{347, 39}</string>
			<key>spriteSourceSize</key>
			<string>{379, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{605, 284}, {347, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>go.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {265, 87}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{265, 87}</string>
			<key>spriteSourceSize</key>
			<string>{271, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1501, 832}, {265, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>logo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {322, 250}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{322, 250}</string>
			<key>spriteSourceSize</key>
			<string>{324, 252}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{605, 325}, {322, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mainmenubutton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {321, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{321, 59}</string>
			<key>spriteSourceSize</key>
			<string>{325, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1501, 921}, {321, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mainmenubutton2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {321, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{321, 59}</string>
			<key>spriteSourceSize</key>
			<string>{325, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1698, 703}, {321, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>matocomcogumelo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1024, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1024, 166}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1527}, {1024, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>montanha.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {1024, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{1024, 241}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 249}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {1024, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>music.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {157, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{157, 59}</string>
			<key>spriteSourceSize</key>
			<string>{165, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1501, 771}, {157, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>music2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {157, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{157, 59}</string>
			<key>spriteSourceSize</key>
			<string>{165, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1843, 1096}, {157, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>musicoff.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {157, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{157, 59}</string>
			<key>spriteSourceSize</key>
			<string>{165, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1824, 974}, {157, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>nobutton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {321, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{321, 59}</string>
			<key>spriteSourceSize</key>
			<string>{325, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1660, 770}, {321, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>nobutton2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {321, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{321, 59}</string>
			<key>spriteSourceSize</key>
			<string>{325, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1501, 982}, {321, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>options.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {265, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{265, 39}</string>
			<key>spriteSourceSize</key>
			<string>{275, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1783, 610}, {265, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>optionsbutton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {65, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{65, 65}</string>
			<key>spriteSourceSize</key>
			<string>{67, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1631, 703}, {65, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>optionsbutton2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {65, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{65, 65}</string>
			<key>spriteSourceSize</key>
			<string>{67, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1954, 148}, {65, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>p.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {603, 769}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{603, 769}</string>
			<key>spriteSourceSize</key>
			<string>{603, 769}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1026, 0}, {603, 769}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>panel.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {587, 473}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{587, 473}</string>
			<key>spriteSourceSize</key>
			<string>{595, 485}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1247, 1158}, {587, 473}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>panelcredits.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {603, 769}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{603, 769}</string>
			<key>spriteSourceSize</key>
			<string>{603, 769}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 243}, {603, 769}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>pausebutton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {43, 43}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{43, 43}</string>
			<key>spriteSourceSize</key>
			<string>{45, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1931, 1615}, {43, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>pausebutton2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {43, 43}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{43, 43}</string>
			<key>spriteSourceSize</key>
			<string>{45, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1886, 1615}, {43, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>paused.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {241, 39}}</string>
			<key>spriteOffset</key>
			<string>{-12, -1}</string>
			<key>spriteSize</key>
			<string>{241, 39}</string>
			<key>spriteSourceSize</key>
			<string>{275, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1768, 872}, {241, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>platform.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 288}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 288}</string>
			<key>spriteSourceSize</key>
			<string>{640, 288}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{605, 999}, {640, 288}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playbutton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {65, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{65, 65}</string>
			<key>spriteSourceSize</key>
			<string>{67, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1954, 349}, {65, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playbutton2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {65, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{65, 65}</string>
			<key>spriteSourceSize</key>
			<string>{67, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1954, 282}, {65, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>resetgame.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {373, 39}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{373, 39}</string>
			<key>spriteSourceSize</key>
			<string>{379, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{605, 243}, {373, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>resetgamebutton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {321, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{321, 59}</string>
			<key>spriteSourceSize</key>
			<string>{325, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1136}, {321, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>resetgamebutton2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {321, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{321, 59}</string>
			<key>spriteSourceSize</key>
			<string>{325, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1631, 0}, {321, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>resetscoresbutton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {321, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{321, 59}</string>
			<key>spriteSourceSize</key>
			<string>{325, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1631, 183}, {321, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>resetscoresbutton2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {321, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{321, 59}</string>
			<key>spriteSourceSize</key>
			<string>{325, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{605, 707}, {321, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>retrybutton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {321, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{321, 59}</string>
			<key>spriteSourceSize</key>
			<string>{325, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1631, 305}, {321, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>retrybutton2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {321, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{321, 59}</string>
			<key>spriteSourceSize</key>
			<string>{325, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1631, 427}, {321, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>scores.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {231, 39}}</string>
			<key>spriteOffset</key>
			<string>{-17, -1}</string>
			<key>spriteSize</key>
			<string>{231, 39}</string>
			<key>spriteSourceSize</key>
			<string>{275, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1247, 999}, {231, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>scoresbutton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {321, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{321, 59}</string>
			<key>spriteSourceSize</key>
			<string>{325, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1075}, {321, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>scoresbutton2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {321, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{321, 59}</string>
			<key>spriteSourceSize</key>
			<string>{325, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1631, 488}, {321, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sound.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {157, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{157, 59}</string>
			<key>spriteSourceSize</key>
			<string>{165, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1824, 913}, {157, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sound2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {157, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{157, 59}</string>
			<key>spriteSourceSize</key>
			<string>{165, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1843, 1035}, {157, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soundoff.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {157, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{157, 59}</string>
			<key>spriteSourceSize</key>
			<string>{165, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1836, 1158}, {157, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>water.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1024, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1024, 236}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 236}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1289}, {1024, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>yesbutton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {321, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{321, 59}</string>
			<key>spriteSourceSize</key>
			<string>{325, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1631, 61}, {321, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>yesbutton2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {321, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{321, 59}</string>
			<key>spriteSourceSize</key>
			<string>{325, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1631, 366}, {321, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>Options-ipad.pvr.ccz</string>
		<key>version</key>
		<string>1.5.4</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>Options-ipad</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Options-ipad.pvr</string>
			<key>textureFileExtension</key>
			<string>.pvr.ccz</string>
			<key>coordinatesFileName</key>
			<string>Options-ipad</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
